<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <!-- <img class="portrait" src="/img/ot-contrib-google.png"> -->
            <p>I am a student in the 5th semester at HTW-Berlin and search for an internship as a Backend developer.</p>
        </div>
        
        {{>footer}}
    </body>
</html>